.preferences-form {
    font-family: Arial, sans-serif;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  
  .preferences-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .preferences-form p {
    margin-bottom: 20px;
  }
  
  .preferences-form h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .preferences-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .preferences-form input[type="checkbox"] {
    margin-right: 10px;
  }
  .clicked {
    background-color: #E74C3C; /* Red color */
    color: white; /* Text color */
  }
  
  .clicked:hover {
    background-color: #C0392B; /* Darker red color on hover */
  }
  
  .clicked.active {
    transform: scale(0.8); /* Smaller size */
    transition: transform 0.3s ease; /* Smooth transition */
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 10px; /* Gap between grid items */

}
  
  /* Adjust the position of the clicked button */
  .clicked {
    order: -1; /* Move clicked buttons to the start */

  }

  .allergies,
  .preferences {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Each column spans 1 item initially */
    gap: 10px; /* Gap between grid items */
  }